* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background-color: #ffffff;
}

:root {
    --primaryGradient: linear-gradient(93.12deg, #0775eb 0.52%, #84b4e7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0775eb -2.14%, #84b4e7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --themeColor: #0775eb;
    --primary-text: #ffffff;
    --visitor-message: #f2e9e9;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--themeColor);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--themeColor);
}

label {
    margin-bottom: 0 !important;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    flex-direction: column;
    opacity: 0;
    transition: all .5s ease-in-out;
    display: none;
    background: #f9f9f9;
    height: 510px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: 0 0 0 0.2rem rgba(254, 255, 255, 0.25);
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-15px);
    z-index: 99;
    opacity: 1;
    display: flex;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.chatbox__icon {
    color: var(--primary-text);
}

.footer__button {
    color: var(--primary-text);
    font-size: x-large;
    padding-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.send__button {
    position: relative;
    margin-left: -40px;
    color: var(--themeColor);
}

#file-btn {
    padding-left: 12px;
}

#file-btn>label {
    margin-bottom: 0 !important;
}

#file-btn>input {
    display: none;
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--themeColor);
    padding-left: 15px !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: var(--themeColor);
    padding-left: 15px !important;
}

::placeholder {
    color: var(--themeColor);
    padding-left: 15px !important;
}

.logo {
    width: 62px;
    position: relative;
    left: -5px;
}

/* MESSAGES */
.chatbox__messages {
    display: none;
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

.messages__item--operator>a {
    color: var(--primary-text);
}

.messages__item--visitor>a {
    color: var(--themeColor);
}

.messages__item--visitor>a>img {
    width: 200px;
    height: auto;
}

.messages__item--operator>a>img {
    width: 200px;
    height: auto;
}

.messages__item--notification {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: var(--themeColor);
    background: transparent !important;
    margin-left: 65px;
    text-decoration: underline;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.form-btn {
    margin-top: 35px;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    height: 70px;
    color: var(--primary-text);
    background: var(--themeColor);
    display: flex;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
    background: #fff;
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.chatbox__heading--header {
    font-size: 1rem;
    margin-top: 5px;
}

.chatbox__description--header {
    font-size: .7rem;
}

.chatbox__header--button {
    margin: 0px 10px;
}

/* Messages */
.chatbox__messages {
    padding: 0 10px;
}

.messages__item {
    margin-top: 10px;
    font-size: 14px;
    padding: 8px 12px;
    max-width: 80%;
    width: fit-content;
    font-weight: 600;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--visitor-message);
    color: var(--themeColor);
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--themeColor);
    color: var(--primary-text);
}

/* FOOTER */
.chatbox__footer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background: var(--themeColor);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
}

.chatbox__footer input {
    width: 90%;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: left;
    height: calc(2em + 0.5rem + 2px);
}

.widget__option {
    font-size: larger;
    margin-left: auto;
    margin-top: 10px;
    color: var(--primary-text);
}

.chatbox__minus {
    margin-right: 5px;
    cursor: pointer;
}

.chatbox__close {
    display: none;
    margin-right: 5px;
    cursor: pointer;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: var(--themeColor);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chatbox__form {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.file-message {
    position: relative;
}

.file-type-message {
    width: 70px !important;
}

.file-name {
    white-space: pre;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 16px;
}

.file-ext-main {
    position: relative;
    bottom: 0px;
    left: -65px;
    text-transform: uppercase;
    background: #F15642;
    padding: 6px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    min-width: 60px;
    text-align: center;
    border-radius: 4px;
}

.audioPlayer {
    width: 220px;
}

.videoPlayer {
    width: 220px;
    height: 120px;
}

.formTrigger {
    background-color: var(--themeColor);
    color: var(--primary-text);
}


/*web rtc*/
#video_chat_display {
    display: none;
}

.circle {
    width: 60px;
    margin: 0 auto;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #dbdadb;
    animation: animate 1.5s infinite linear;
    background-color: #f7f7f8;
    animation-play-state: running;
    display: block;
    border-top: 2px solid rgb(52, 99, 173);
}

/*.circle:before {*/
/*    content: '\f095';*/
/*    font-family: 'FontAwesome';*/
/*    font-size: 2.2em;*/
/*    color: #3463ad*/
/*}*/
.call_descp {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#chat_converse {
    display: none;
    padding: 10px;
    text-align: center;
}

#chat_converse .wrapper {
    position: relative;
    margin: 10px auto;
}

.call-initiating {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100% - 70px);
    background: #fff;
    width: 100%;
}

.call-status-area {
    text-align: center;
    padding: 20px 10px;
}

.call_control {
    position: absolute;
    bottom: 22px;
    width: 100%;
    text-align: center;
}

ul.control-list {
    margin: 0 auto;
}

ul.control-list li:hover {
    opacity: 1;
    transition: all .3s;
}

ul.control-list li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #f1f1f1;
    text-align: center;
    line-height: 50px;
    margin: 0 2px;
    font-size: 26px;
    cursor: pointer;
    opacity: .8;
    transition: all .3s;
}

li.end-call {
    background: #f13f3a !important;
}

#showVideo {
    display: none;
}

#muteAudio .fa-microphone-slash,
#showVideo .fa-video-slash {
    color: #fff;
}

ul.control-list li.end-call .fa {
    transform: rotate(135deg);
    color: #fff;

}

ul.control-list li .fa {
    color: #8e8989;
}

.local-video {
    width: 100%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}