* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background-color: #ffffff;
}

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #0775eb 0.52%, #84b4e7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0775eb -2.14%, #84b4e7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #0775eb;
    --primary-text: #ffffff;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-15px);
    z-index: 123456;
    opacity: 1;
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.chatbox__icon {
    color: var(--primary-text);
}

.footer__button {
    color: var(--primary-text);
    font-size: x-large;
    /* position: absolute; */
    padding-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.send__button {
    position: relative;
    margin-left: -40px;
    color: var(--primary);
}
#file-btn {
    padding-left: 12px;
}
#file-btn>label {
    margin-bottom: 0 !important;
}
#file-btn>input {
    display: none;
}
::-webkit-input-placeholder {
    /* Edge */
    color: var(--primary);
    padding-left: 15px !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: var(--primary);
    padding-left: 15px !important;
}

::placeholder {
    color: var(--primary);
    padding-left: 15px !important;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* MESSAGES */
.chatbox__messages {
    display: none;
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

.messages__item--notification {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: #0775eb;
    background: transparent !important;
    margin-left: 65px;
    text-decoration: underline;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    height: 70px;
    max-height: 70px;
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1rem;
    color: var(--primary-text);
    margin-top: 5px;
}

.chatbox__description--header {
    font-size: .7rem;
    color: var(--primary-text);
}

/* Messages */
.chatbox__messages {
    padding: 0 10px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    font-size: 14px;
    padding: 8px 12px;
    max-width: 80%;
    width: fit-content;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: var(--primary-text);
}

/* FOOTER */
.chatbox__footer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 90%;
    border: none;
    padding: 10px 20px;
    border-radius: 30px; 
    text-align: left;
    height: calc(2em + 0.5rem + 2px);
}

.widget__option {
    font-size: larger;
    margin-left: auto;
    margin-top: 10px;
    color: var(--primary-text);
}

.chatbox__minus {
    margin-right: 5px;
    cursor: pointer;
}

.chatbox__close {
    display: none;
    margin-right: 5px;
    cursor: pointer;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: var(--primaryGradient);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.chatbox__form {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}